<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--scope默认singleton-->
    <!--autowire.byName根据属性名称自动ref可用bean-->
    <!--prototype对象不会随容器关闭而摧毁，不会执行destroy-method-->
    <!--process(before)->init->process(after)->construct+set->bean use->destroy-->
    <bean id="user" class="ml.java.spring5.demo1.User" scope="singleton" init-method="init" destroy-method="destroy" autowire="byName">
        <property name="name">
			<!--03注释@v1.1.3 hf-->
            <value><![CDATA[<<马玲杉3>>]]></value>
            <!--<null/>-->
        </property>
        <!--<property name="city">-->
            <!--<ref bean="city"/>-->
        <!--</property>-->
        <!--<property name="city">-->
            <!--<bean id="city" class="ml.java.spring5.demo11.City">-->
                <!--<property name="region" value="SH"/>-->
            <!--</bean>-->
        <!--</property>-->
        <property name="array">
            <array>
                <value>0</value>
                <value>1</value>
            </array>
        </property>
        <property name="list">
            <ref bean="list"/>
            <!--<list>-->
                <!--<value>a</value>-->
                <!--<value>b</value>-->
            <!--</list>-->
        </property>
        <property name="map">
            <map>
                <entry key="0" value="a"/>
                <entry key="1" value="b"/>
            </map>
        </property>
        <property name="set">
            <set>
                <value>a</value>
                <value>b</value>
            </set>
        </property>
    </bean>
    
    <bean id="city" class="ml.java.spring5.demo1.City">
        <property name="region" value="${city.region}"/>
    </bean>

    <util:list id="list">
        <value>a</value>
        <value>b</value>
    </util:list>

    <!--xml全局处理器，仅本配置文件bean有效-->
    <bean id="postProcessor" class="ml.java.spring5.demo1.PostProcessor"/>

    <!--外部配置-->
    <context:property-placeholder location="beans.properties"/>

    <!--注释扫描，多个包用,隔开-->
    <context:component-scan base-package="ml.java.spring5.demo2"/>

</beans>